body{
    background-color: #697a79;
}
.all{
    width: 902px;
    height: 1365px;
    margin: auto;
}
.conteiner{
    margin: 0 auto;
}
.contact{
    padding: 32px 16px;
    width:  457px;
    height: 643px;
    position: relative;
    left: 4px;
    float: left;
    background-color: #ffffff;
    border-radius: 20px 0px 0px 20px;
    text-align: center;
}
.hellowuser{
    padding: 32px 16px;
    width: 377px;
    height: 643px;
    background-color: #3ab19b;
    float: right;
    border-radius: 0px 20px 20px 0px ;
    text-align: center;
}
.firsth2{
    font-family: Montserrat;
    font-weight: medium;
    color: #697a79;
}
.f{
    width: 50px;
    height: 50px;
    margin: 16px 16px;
    border-radius: 50px;
    border: 1px solid #697a79;
    display: inline-block;
    text-align: center;
    font-weight: 900;
    line-height: 50px;
    text-decoration: none;
    color: #697a79;
}
.t{
    width: 50px;
    height: 50px;
    margin: 16px 16px;
    border-radius: 50px;
    border: 1px solid #697a79;
    display: inline-block;
    text-align: center;
    font-weight: 900;
    line-height: 50px;
    text-decoration: none;
    color: #697a79;
}
.in{
    width: 50px;
    height: 50px;
    margin: 16px 16px;
    border-radius: 50px;
    border: 1px solid #697a79;
    display: inline-block;
    text-align: center;
    font-weight: 900;
    line-height: 50px;
    text-decoration: none;
    color: #697a79;
}
.f:hover{
    color: white;
    background-color: #697a79;
}
.t:hover{
    color: white;
    background-color: #697a79;
}
.in:hover{
    color: white;
    background-color: #697a79;
}
.text1contact{
    font-family: Montserrat;
    color: #697a79;
}
#emeil{
    width: 292px;
    height: 18px;
    background-color: #f0f4f3;
    border: 0px solid #697a79;
    border-radius: 4px;
    margin: 8px 8px;
    padding: 16px 12px;
}
#phone{
    width: 292px;
    height: 18px;
    background-color: #f0f4f3;
    border: 0px solid #697a79;
    border-radius: 4px;
    margin: 8px 8px;
    padding: 16px 12px;
}
.text2contact{
    font-family: Montserrat;
    color: #697a79;
}
#message{
    width: 295px;
    height: 86px;
}
.a4{
    text-decoration: none;
    color: #697a79;
    font-size: 20px;
}
.a4::after{
    content: '';
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    border-bottom: 1px
    dashed currentColor;
    opacity: 0.4;
}
.button1{
    margin: 32px 32px;
    width: 193px;
    padding: 14px 30px;
    border-radius: 30px;
    background-color: #3ab19b;
    color: white;
    border: 1px solid white;
}
.button1:hover{
    -webkit-box-shadow: 0px 0px 13px 12px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 13px 12px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 13px 12px rgba(34, 60, 80, 0.2);
    
}
.hellowuser{
    text-align: center;
}
.hellowtext{
    font-family: Montserrat;
    color: white;
}
.textforuser{
    font-family: Montserrat;
    color: white;
}
.button2{
    margin: 32px 32px;
    width: 193px;
    padding: 14px 30px;
    border-radius: 30px;
    background-color: #3ab19b;
    color: white;
    border: 1px solid white;
    font-family: Montserrat;
    font-size: 20px;
}
.d::before{
    content: "\f30a";
}